mixin mapItem (num, city, sizePoint, title, discr)
	.point-tooltip(class="#{city}")
		.point(class="#{sizePoint}")
			.tooltip
				img.tooltip-img(src="img/tooltips/tooltip#{num}.jpg", alt="#{title}")
				.tooltip-content
					h5.tooltip-title #{title}
					.tooltip-discr #{discr}

// begin map 
section.map.hidden-sm
	.container
		.row
			.col-md-12
				h2.section-title.-black Мы работаем по всей России
		.row
			
			.col-md-12
				.map_pic
					+mapItem('01', '-samara', '-big', 'Поставка труб на нефтяную скважину', 'Описание подробностей установки и достигнутых результатов по завершению проекта.')
					+mapItem('01', '-kazan', '-small', 'Проект по переоборудобванию завода', 'Описание подробностей установки и достигнутых результатов по завершению проекта.')
					+mapItem('01', '-novosibirsk', '-big', 'Реконструкция завода', 'Описание подробностей установки и достигнутых результатов по завершению проекта.')
					+mapItem('01', '-norilsk', '-small', 'Прокладка газопровода', 'Описание подробностей установки и достигнутых результатов по завершению проекта.')
					+mapItem('01', '-yakutsk', '-big', 'Поставка труб на нефтескважину', 'Описание подробностей установки и достигнутых результатов по завершению проекта.')
// end map